nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.mb-4
    .container
        a.navbar-brand(href="/") Tienda Camisetas

        button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav")
            span.navbar-toggler-icon

        #navbarNav.collapse.navbar-collapse
            //- MENU IZQUIERDA (me-auto)
            ul.navbar-nav.me-auto
                //- Enlaces para todos (públicos)
                li.nav-item
                    a.nav-link(href="/") Catálogo
                li.nav-item
                    a.nav-link(href="/carro") Mi Cesta

                //- Opciones específicas según rol
                if user
                    if user.tipo == 'OPERADOR'
                        li.nav-item
                            a.nav-link.text-warning(href="/admin/camiseta") Admin Camisetas
                        li.nav-item
                            a.nav-link.text-warning(href="/admin/pedido") Admin Pedidos

            //- MENU DERECHA (ms-auto)
            ul.navbar-nav.ms-auto
                if user
                    //- OPCIÓN A: Usuario Logueado
                    li.nav-item.d-flex.align-items-center
                        span.text-light.me-3 Hola, #{user.username}
                    li.nav-item
                        a.btn.btn-outline-danger.btn-sm(href="/auth/logout") Cerrar Sesión
                else
                    //- OPCIÓN B: Invitado (No logueado)
                    li.nav-item
                        a.nav-link(href="/auth/login") Iniciar Sesión
                    li.nav-item
                        a.nav-link(href="/auth/register") Registrarse